{% extends 'base.html' %} {% block content %}
<!-- Breadcrumb -->
<!-- Page Title -->
<div class="container mt-0">
  <div class="row breadcrumb-bar">
    <div class="col-md-6">
      <h3 class="block-title">Add Student</h3>
    </div>
    <div class="col-md-6">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">
            <span class="ti-home"></span>
          </a>
        </li>
        <li class="breadcrumb-item">Student</li>
        <li class="breadcrumb-item active">Add Student</li>
      </ol>
    </div>
  </div>
</div>
<!-- /Page Title -->

<!-- /Breadcrumb -->
<!-- Main Content -->
<div class="container">
  <div class="row">
    <!-- Widget Item -->
    <div class="col-md-12">
      <div class="widget-area-2 proclinic-box-shadow">
        <h3 class="widget-title">Add Student</h3>
        <form method="POST" action="/app/addStudent">
          {% csrf_token %}
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="patient-name">Student Name</label>
              <input
                type="text"
                class="form-control"
                placeholder="Student name"
                id="student-name"
                name="s_name"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="dob">Date Of Birth</label>
              <input
                type="date"
                placeholder="Date of Birth"
                class="form-control"
                id="dob"
                name="dob"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="age">Age</label>
              <input
                type="text"
                placeholder="Age"
                class="form-control"
                id="age"
                name="age"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="phone">Phone</label>
              <input
                type="text"
                placeholder="Phone"
                class="form-control"
                id="phone"
                name="s_phone"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="email">Email</label>
              <input
                type="email"
                placeholder="email"
                class="form-control"
                id="email"
                name="s_email"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="gender">Gender</label>
              <select class="form-control" id="gender" name="gender">
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="email">Registration Number</label>
              <input
                type="text"
                placeholder="Registration Number"
                class="form-control"
                id="regNo"
                name="regNo"
              />
            </div>
            <div class="form-group col-md-12">
              <label for="exampleFormControlTextarea1">Address</label>
              <textarea
                placeholder="Hostel Name and Room No."
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="3"
                name="address"
              ></textarea>
            </div>

            <div class="form-group col-md-6 mb-3">
              <button type="submit" class="btn btn-primary btn-lg">
                Submit
              </button>
            </div>
          </div>
        </form>
        {% for message in messages %}
          {% if message.tags == 'success' %}
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
              <script>
                var m = "{{ message }}";
                swal("Perfect !",m,"success")
              </script>
            {% endif %}
          {% if message.tags == 'error' %}
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
              <script>
                var m = "{{ message }}";
                swal("OOPS !",m,"error")
              </script>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <!-- /Widget Item -->
  </div>
</div>
<!-- /Main Content -->
{% endblock %}
